# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build folders
dist/
build/

# Logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/